<div id="b342cf8aad3249caa04fdfa7cf20c270" style="width:auto;height:100%;"></div>
<script type="text/javascript">

var myChart_b342cf8aad3249caa04fdfa7cf20c270 = echarts.init(document.getElementById('b342cf8aad3249caa04fdfa7cf20c270'), 'light', {renderer: 'canvas'});

var option_b342cf8aad3249caa04fdfa7cf20c270 = {
"title": [
{
    "left": "center",
    "top": 20,
    "textStyle": {
        "color": "#fff",
        "fontSize": 18
    },
    "subtextStyle": {
        "fontSize": 12
    }
}
],
"series_id": 1209633,
"tooltip": {
"trigger": "item",
"triggerOn": "mousemove|click",
"axisPointer": {
    "type": "line"
},
"textStyle": {
    "fontSize": 14
},
"backgroundColor": "rgba(50,50,50,0.7)",
"borderColor": "#333",
"borderWidth": 0
},
"series": [
{
    "type": "lines",
    "zlevel": 2,
    "effect": {
        "show": true,
        "period": 4,
        "trailLength": 0.1,
        "color": "#fff",
        "symbol": "pin",
        "symbolSize": 5
    },
    "symbol": [
        "none",
        "arrow"
    ],
    "symbolSize": 12,
    "data": [
        {
            "fromName": "Los Angeles",
            "toName": "Los Angeles",
            "coords": [
                [
                    -118.24368,
                    34.05223
                ],
                [
                    -118.24368,
                    34.05223
                ]
            ]
        }
    ],
    "lineStyle": {
        "normal": {
            "width": 0,
            "opacity": 0,
            "curveness": 0.2,
            "type": "solid"
        }
    }
},
{
    "type": "scatter",
    "zlevel": 2,
    "coordinateSystem": "geo",
    "symbolSize": 10,
    "data": [
        {
            "name": "Los Angeles",
            "value": [
                -118.24368,
                34.05223,
                0
            ]
        },
        {
            "name": "Los Angeles",
            "value": [
                -118.24368,
                34.05223,
                0
            ]
        }
    ],
    "label": {
        "normal": {
            "show": true,
            "position": "right",
            "textStyle": {
                "color": "#7BECFF",
                "fontSize": 12
            },
            "formatter": "{b}"
        },
        "emphasis": {
            "show": true,
            "textStyle": {
                "fontSize": 12
            }
        }
    },
    "tooltip": {
        "formatter": "{b}"
    }
}
],
"legend": [
{
    "data": [
        ""
    ],
    "selectedMode": "multiple",
    "show": false,
    "left": "center",
    "top": "top",
    "orient": "horizontal",
    "textStyle": {
        "fontSize": 12
    }
}
],
"backgroundColor": "rgba(0,0,0,0)",
"animation": true,
"geo": {
"map": "world",
"roam": true,
"label": {
    "emphasis": {
        "show": true,
        "textStyle": {
            "color": "#eee"
        }
    }
},
"itemStyle": {
    "normal": {
        "areaColor": "rgba(12,12,12,0.5)",
        "borderColor": "#6cb7c9"
    },
    "emphasis": {
        "areaColor": "#2a333d"
    }
}
},
"color": [
"#339900",
"#339900",
"#339900",
"#c23531",
"#2f4554",
"#61a0a8",
"#d48265",
"#749f83",
"#ca8622",
"#bda29a",
"#6e7074",
"#546570",
"#c4ccd3",
"#f05b72",
"#ef5b9c",
"#f47920",
"#905a3d",
"#fab27b",
"#2a5caa",
"#444693",
"#726930",
"#b2d235",
"#6d8346",
"#ac6767",
"#1d953f",
"#6950a1",
"#918597",
"#f6f5ec"
]
};
myChart_b342cf8aad3249caa04fdfa7cf20c270.setOption(option_b342cf8aad3249caa04fdfa7cf20c270);

</script>